/* Remove Google Font */
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700&display=swap');

/* Dubai Font */
@font-face {
  font-family: "Dubai";
  src: url("@/assets/fonts/Dubai/Dubai-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Dubai";
  src: url("@/assets/fonts/Dubai/Dubai-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Dubai";
  src: url("@/assets/fonts/Dubai/Dubai-Bold.ttf") format("truetype");
  font-weight: 700;
}

/* Global Font */
body {
  font-family: "Dubai", sans-serif !important;
}


