
  @import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700&display=swap');
body {
  font-family: 'Tajawal', sans-serif;
  direction: rtl;
}

  @each $fontFamily in $fontFamilies {
    @each $fontExtension in $fontExtensions {
      @font-face {
        font-family: #{$fontFamily};
        src        : local(#{$fontFamily}), url("@/assets/fonts/Lato/#{$fontFamily}.#{$fontExtension}") format(#{$fontExtension});
      }
  
      .#{$fontFamily} {
        font-family: #{$fontFamily};
      }
    }
  }

