@import "./variables";
body {
  font-family: "Dubai", sans-serif !important;
}

.primary-color {
  color: $primaryColor !important;
}

.cursor_pointer{
  cursor: pointer;
}

.margin_auto{
  margin: auto;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}