@import "./variables";

.primary-color {
  color: $primaryColor;
}

.lato-bold {
  font-family: "Lato-Bold";
}

.cursor_pointer{
  cursor: pointer;
}

.margin_auto{
  margin: auto;
}

.custom-width {
  width: 60%;
}
